body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.todo-container {
    max-width: 400px;
    margin: 0 auto;

}
.todo-item {
    display: flex;;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
}
.todo-item input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.todo-item input[type="checkbox"]:checked + label::after {
    content: '\2714';
    font-size: 16px;
    color: blue;

}
.delete-icon {
    color: red;
    cursor: pointer;
}
.todo-header {
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #8c8c8c;
    background-color: #0d1117;
    display: flex;
    justify-content: left;
    padding-left: 30px;
    font-weight: lighter;

}
#todo-cont-text{
    font-weight: lighter;
}