.header{
    display: flex;
    justify-content: space-around;
    background-color: #4A148C;
    margin: 0;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header-items{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-items a{
    color: #ECEFF1;
    text-decoration: none;
}